@page
@model IndexModel
@{
    ViewData["Title"] = "Dad Joks Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you came for Dad Jokes, you're in the right place. Just click the navigation links above.</p>
</div>
